# {{ state_name | title }} Wage Theft Data Report

## Data Summary

{% if state_name|lower == 'california' %} 
CBS News analyzed data provided to it by CalMatters, a nonprofit news organization that covers the state of California. Through a public records request under the {{ statute_name }}, CalMatters obtained {{ total_records_description }} records of wage theft claims going back to {{ min_date.strftime("%B %Y") }}.
{% else %}
Through a public records request under the {{ statute_name }}, CBS News sought more than 10 years of data from the {{ agency_name }}'s wage and hour complaint process. In response, the agency provided {{ total_records_description }} records going back to {{ min_date.strftime("%B %Y") }}.
{% endif %}

{% if no_cases_decided_in_favor_of_claimant %}
The data provided by the {{ agency_name }} does not denote whether the case was decided in favor of the claimant, so this report will contain all cases, regardless of the outcome. 
{% endif %}

### Overall amounts

The data obtained by CBS News shows that, since {{ min_date.year }}, {{ "{:,.0f}".format(total_claims) }} wage theft claims were filed with the {{ agency_name }}. The total amount owed was {{ "${:,.2f}".format(total_case_amount) }}.

The median amount for each case was {{ "${:,.2f}".format(median_case_amount) }}. Here's how losing that amount could impact an average worker in {{ state_name }}

{{ "${:,.2f}".format(median_case_amount) }} is the equivalent of: 

- About {{ equivalent_weeks_of_income }} week(s) of income for the median household in {{ state_name }}.

- About {{ equivalent_rent_payments }} month(s) of rent for a renter paying the fair market rent in {{ state_name }} or about {{ equivalent_mortgage_payments }} month(s) of mortgage payments for the average homeowner in {{ state_name }}.

- About {{ equivalent_family_weekly_grocery_budget }} week(s) of groceries for a family in {{ state_name }}.


Some cases were worth even more money, however. Below is a breakdown of the number of cases filed in each amount range: 
{% for amount_range, amount_dict in case_amounts_dict.items() %}
- {{ amount_range }}: {{ "{:,.0f}".format(amount_dict['total_cases']) }} cases ({{ "{:,.1f}%".format(amount_dict['pct_of_total_cases'] * 100) }} of all cases)
{% endfor %}


### Amounts paid to claimants
{% if state_has_paid_amount %}
About {{ "{:.0f}%".format(pct_cases_paid * 100) }} of the {{ "{:,.0f}".format(total_claims) }} wage theft cases provided to CBS News by the {{ agency_name }} showed a payment was made to the claimant. The total amount paid to claimants was {{ "${:,.2f}".format(total_amount_paid) }}.

{% if pct_cases_paid != pct_cases_paid_full %}
Just because a person was paid doesn't mean they were paid the full amount they claimed: {{ "{:.0f}%".format(pct_cases_paid_full * 100) }} of the cases were paid in full.
{% endif %}
{% else %}
    {{ state_name }} did not provide data on the amount paid to claimants.
{% endif %}

### Time taken to resolve cases
{% if state_has_case_duration %}
Just because a person won their case doesn't mean they got paid right away. The median amount of time it took to resolve a case in {{ state_name }} was about {{ "{:,.0f}".format(median_case_duration) }} days.

Some cases took much longer to resolve. Below is a breakdown of the number of cases resolved in each time period: 
{% for duration_days, duration_dict in case_durations_dict.items() %}
- {{ duration_days }} days: {{ "{:,.0f}".format(duration_dict['total_cases']) }} cases ({{ "{:,.1f}%".format(duration_dict['pct_of_total_cases'] * 100) }} of all cases)
{% endfor %}
{% else %}
    {{ state_name }} did not provide data on the amount of time it took to resolve cases.
{% endif %}

## How to reference this data

All references to this data must be attributed to CBS News analysis.

### On first reference

On first reference, attribution must mention that the data was analyzed by CBS News and was obtained from the {{ agency_name }} by CBS News through a public records request under the {{ statute_name }}.

### On subsequent references

After the first reference, you can simply attribute the data to CBS News analysis, e.g. "CBS News' analysis" or "the analysis." 

## FAQs

### What is "wage theft?"

Wage theft refers to the illegal practice of an employer not paying their employees the full amount of wages that they are owed. This can take many forms, such as not paying overtime, not paying the minimum wage, or making illegal deductions from an employee's pay.

###  How did you get this data?

CBS News requested the data through a public records request under the {{ statute_name }}. The agency provided data exported from its case management system. The data was then merged with nearly identical data from dozens of other states and analyzed by CBS News.

### How can I trust this data? 

This data was thoroughly vetted prior to being analyzed. The data was provided by the {{ agency_name }}, which is the agency responsible for enforcing the state's wage and hour laws. CBS News then undertook a thorough review of the data to ensure that it was accurate and complete. Wherever possible, any errors or inconsistencies were identified and addressed, and cases that were clearly incomplete, inaccurate, or otherwise not relevant were removed from the dataset.

### How does my state compare to others? 

It is difficult to make direct comparisons between states because each state has different laws and enforcement mechanisms, and because the quality of states' case management systems can vary wildly. For example, some states track detailed data on each case, including status dates and detailed disposition data, while others only track the amount claimed and the date the case was filed. This means that data on wages and labor conditions in one state may not be directly comparable to data from another state.